<div class="card" id="card">
    <div class="row">

        <div class="col-3">
            Home
        </div>

      

        <div class="col-3" >
            <a href="viewcomplaintcust">
                View Complaints Status
            </a>           
        </div>


        <div class="col-3" >
            <a  href="customerprofile">Profile</a>
            
        </div>

        <div class="col-3" >
            <a href="">
                Logout
            </a>
            
        </div>
        

    </div>
</div>
